[Unit]
Description=Swipe gestures support for mouse buttons
After=display-manager.service

[Service]
ExecStart=python /usr/local/share/mouse-swipe/main.py
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=mouse-swipe
